div{
    color: white;
    background: #081229;
}
.titulo{
    font-weight: 650;
    font-size: 70px;
    text-align: center;
}

p{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}


