<div>
    <h1>
        Noticias del Covid-19
    </h1>
    <br>
    <br>
    <br>
    <div class="container-fluid">

        <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Abren moteles y restaurantes: Barranquilla da por superado el primer pico</h5>
              <h6 class="card-subtitle mb-2 text-muted">Noticia</h6>
              <a href="https://www.semana.com/nacion/articulo/con-saldo-de-1580-fallecidos-barranquilla-da-por-superado-el-primer-pico/695047" class="card-link">
              Ir a la noticia</a>
            </div>
          </div>

          <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Covid-19 deja 247 muertes y 10.798 recuperados más en Colombia</h5>
              <h6 class="card-subtitle mb-2 text-muted">Noticia</h6>
              <a href="https://www.eltiempo.com/salud/cuarentena-en-colombia-muertes-por-covid-19-llegan-a-15-619-hoy-18-de-agosto-530586" class="card-link">
                Ir a la noticia</a>
            </div>
          </div>

          <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Coronavirus</h5>
              <h6 class="card-subtitle mb-2 text-muted">Noticia</h6>
              <a href="https://www.semana.com/coronavirus/" class="card-link">
                Ir a la noticia</a>
            </div>
          </div>

          <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Perros para detectar el covid-19 en aeropuerto de Finlandia</h5>
              <h6 class="card-subtitle mb-2 text-muted">Noticia</h6>
              <a href="https://www.semana.com/coronavirus/articulo/perros-para-detectar-el-covid-19-en-aeropuerto-de-finlandia/202034/" class="card-link">
                Ir a la noticia</a>
            </div>
          </div>

          <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Covid-19 ya es la segunda causa de muerte en Colombia</h5>
              <h6 class="card-subtitle mb-2 text-muted">Noticia</h6>
              <a href="https://www.eltiempo.com/salud/covid-19-es-segunda-causa-de-muerte-en-colombia-segun-estadisticas-vitales-del-dane-540562" class="card-link">
                Ir a la noticia</a>
            </div>
          </div>

          <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Coronavirus en Colombia en vivo: nuevos casos y muertes, últimas noticias de hoy</h5>
              <h6 class="card-subtitle mb-2 text-muted">Noticia</h6>
              <a href="https://colombia.as.com/colombia/2020/09/29/actualidad/1601378965_354218.html" class="card-link">
                Ir a la noticia</a>
            </div>
          </div>

        </div>
</div>
