<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card h-50 w-50 mx-auto bg-transparent ">
        <img src="../../../assets/Info_general.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Información general</h5>
          <p class="card-text">Conozca informacion del Covid-19 para saber como prevenirlo</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-50 w-50 mx-auto bg-transparent ">
        <img src="../../../assets/periodico.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NotiCovid-19</h5>
          <p class="card-text">Noticias relevantes acerca del Covid-19</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-50 w-50 mx-auto bg-transparent">
        <img src="../../../assets/grafico.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Datos epidemiológicos</h5>
          <p class="card-text">Graficos acerca de como progresa la enfermedad en el pais</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-50 w-50 mx-auto bg-transparent">
        <img src="../../../assets/libro.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bibliografías</h5>
          <p class="card-text">Articulos cientificos para conocer mas del Covid-19</p>
        </div>
      </div>
    </div>
  </div>