<div class="inicio">
    <h1>
        Conoce acerca del Covid-19
    </h1>
    <hr>
    <hr>
    <div class="container">

        <div class="primero">
            
            <h1 class="titulo_uno">
                ¿Que es el Covid-19?
            </h1>
            <p>
                • COVID-19 es una enfermedad infecciosa febril aguda. 
                <br/>
                • Agente etiológico: SARS-Cov-2
                <br/>
                • Vírus de la categoria de Coronavírus, reino Riboviviria, ordem Nidovirales, subordem Cornidovirineae, família Coronaviridae.
                <br/>
                • Virus RNA, de cadena única, muy compleja y pesada.
                <br/>
                • Tamaño: entre 27 y 32 kb
                <br/>
                • Reservorio: El hombre.
                <br/>
                • Reservorio natural: los murciélagos y algunas especies de serpientes.
                <br/>
                • Este nuevo virus como la enfermedad que provoca eran desconocidos antes de que estallara el brote en Wuhan (China) en diciembre de 2019.
                <br/>
                • Actualmente la COVID 19 es enfermedad que afecta a muchos países de todo el mundo, declarada por la OMS como Pandemia y una emergencia en salud pública de importancia internacional.
                <br/>
                <br/>

            </p>

            <h2 class="titulo_dos">
            	¿Cómo se transmite?
            </h2>
            <p>
                La transmisión de la COVID-19 se puede presentar por medio de:
                <br/>

                • Gotículas: Partículas generadas a través del habla, tos y estornudos,  que afectan la vía respiratoria alta (nariz y boca)
                <br/>
                • Aerosoles: Partículas menores que las gotículas, que permanecen suspendidas en el aire por largos períodos de tempo, y cuando son inaladas, pueden penetrar más profundamente en el tracto respiratorio.
                <br/>
                • Contacto com superfícies contaminadas.
                <br/>
                • 5% puede ocurrir por las heces de personas infectadas, pero el riesgo es muy bajo. Por tal razón se recomienda la distancia mínima de 1 metro entre las personas, e higienización de las manos después de ir al baño, siempre antes de comer y tocar superficies.
                <br/>
                • Asintomáticos: Pueden transmitir el virus aprox. por 14 días.
                <br/>
                • Sintomáticos: Transmisión mayor de 14 días.
                <br/>
                • Personas con síntomas leves: 21 días
                <br/>
                • Personas con  cuadro grave: 25 a 28 días
                <br/>
                • R0: 2-4 (Inferior con contención)
                <br/>
                • Período de incubación: 3 a 14 dias, hasta 28 dias. Promedio 5 dias.
                <br/>
                • Diseminación viral: Mediana 20 dias
                <br/>
                • Suceptibidad: Universal, es decir, cualquier individuo puede ser infectado.
                <br/>
                <br/>


            </p>

            <h2 class="titulo_dos">
            	Los criterios epidemiológicos para el COVID-19
            </h2>
            <p>

                • Historial de viaje a áreas con circulación de casos de enfermedad por nuevo coronavirus 2019 (COVID-19) en los 14 días anteriores al inicio de los síntomas.
                <br/>
                • Trabajador de la salud u otro personal del ámbito hospitalario que haya tenido contacto estrecho* con caso confirmado o probable para enfermedad por nuevo coronavirus.
                <br/>
                • Antecedentes de contacto estrecho* en los últimos 14 días con un caso confirmado con infección respiratoria aguda grave asociada al nuevo coronavirus 2019 (COVID-19).
                <br/>
                • La definición de caso del evento 348-COVID19 puede cambiar en el momento que se detecte circulación activa comunitaria. Colombia pasó a fase de mitigación, pero dada la situación de aislamiento preventivo obligatorio (decreto 457 de 2020), se mantienen estas definiciones de caso.
                <br/>
                <br/>
                
            </p>
            
            <h2 class="titulo_dos">
            	Niveles de prevención y factores protectores de la enfermedad
            </h2>
            <p>
                Dentro de las medidas básicas de protección para la COVID-19 se encuentran:
                <br/>
                <br/>
                • <strong>Lavado frecuente de manos:</strong> Lávese las manos con frecuencia con agua y jabón, o higienice las manos con un desinfectante a base de alcohol. El uso de guantes no reemplaza el lavado de manos, el hecho ‎de llevar los guantes puestos no impide el contagio, ya que si uno se toca la cara ‎mientras los lleva, la contaminación pasa del guante a la cara y puede ‎causar la infección.‎
                ¿Por qué? El desinfectante a base de alcohol o con agua y jabón mata el virus si este está en sus manos. 
                <br/>
                <br/>
                • <strong>Adoptar medidas de higiene respiratoria:</strong> Al toser o estornudar, cúbrase la boca y la nariz con el codo flexionado o con un pañuelo; tire el pañuelo inmediatamente y lávese las manos con un desinfectante de manos a base de alcohol, o con agua y jabón.
                ¿Por qué? Al cubrir la boca y la nariz durante la tos o el estornudo se evita la propagación de gérmenes y virus. Si usted estornuda o tose cubriéndose con las manos puede contaminar los objetos o las personas a los que toque.
                <br/>
                <br/>
                • <strong>Mantener el distanciamiento social:</strong> Mantener un distanciamiento de al menos 1 metro de distancia entre usted y las demás personas, particularmente aquellas que tosan, estornuden y tengan fiebre.
                ¿Por qué? Cuando alguien con una enfermedad respiratoria, como la infección por el 2019-nCoV, tose o estornuda, proyecta pequeñas gotículas que contienen el virus. Si está demasiado cerca, puede inhalar el virus.
                <br/>
                <br/>
                • <strong>Evitar tocarse los ojos, la nariz y la boca:</strong> 
                ¿Por qué? Las manos tocan muchas superficies que pueden estar contaminadas con el virus. Si se toca los ojos, la nariz o la boca con las manos contaminadas, puedes transferir el virus de la superficie a sí mismo.
                <br/>
                <br/>
                • <strong>Si tiene fiebre, tiene fiebre, tos y dificultad para respirar, solicite atención médica a tiempo</strong>
                ¿Por qué? Siempre que tenga fiebre, tos y dificultad para respirar, es importante que busque atención médica de inmediato, ya que dichos síntomas pueden deberse a una infección respiratoria o a otra afección grave. Los síntomas respiratorios con fiebre pueden tener diversas causas, y dependiendo de sus antecedentes de viajes y circunstancias personales, y COVID-19 podría ser una de ellas.
                
                <br/>
                <br/>

                • <strong>Mantenerse informado y seguir las recomendaciones de los profesionales sanitarios</strong>
                ¿Por qué? Las autoridades nacionales y locales dispondrán de la información más actualizada acerca de si la COVID-19 se está propagando en su zona. Son los interlocutores más indicados para dar consejos sobre las medidas que la población de su zona debe adoptar para protegerse. 
                
                <br/>
                <br/>
                • <strong>Permanecer en casa si empieza a encontrarse mal, aunque se trate de síntomas leves como cefalea y rinorrea leve, hasta que se recupere</strong>
                ¿Por qué? Evitar los contactos con otras personas y las visitas a centros médicos, lo que permitirá que estos últimos funcionen con mayor eficacia y ayudará a protegerle a usted y a otras personas de posibles infecciones por el virus de la COVID-19 u otros.
                
                <br/>
                <br/>
                • <strong>Evitar dar la mano a las personas por COVID-19</strong>
                ¿Por qué?  Los virus respiratorios pueden transmitirse al darse la mano y ‎tocarse los ojos, la nariz y la boca. Es mejor saludar con un gesto de la ‎mano, una inclinación de la cabeza o una reverencia
                
                <br/>
                <br/>
                • <strong>Evitar el contacto físico</strong>
                ¿Por qué?  Para prevenir la COVID-19 lo más seguro es evitar el contacto físico al saludarse. Se pueden utilizar otras formas seguras como saludar con un gesto de la mano o inclinar la cabeza o el cuerpo.  
                

                <br/>
                <br/>
                
            </p>

            <h2 class="titulo_dos">
            	Factores de riesgo
            </h2>
            <p>
                <br/>
                • <strong>Entre los adultos, el riesgo de enfermarse gravemente a causa del COVID-19 aumenta con la edad, por lo que los adultos mayores corren mayor riesgo.</strong> Que una persona se enferme gravemente a causa del COVID-19 significa que podría requerir hospitalización, cuidados intensivos o un respirador para poder respirar, o incluso podría morir.
                <br/>
                El riesgo de enfermarse gravemente aumenta con la edad. A medida que envejece, aumenta el riesgo de enfermarse gravemente a causa del COVID-19. El riesgo más alto de enfermarse gravemente a causa del COVID-19 lo tienen las personas de 85 años de edad o más.
                <br/>
                <br/>
                
                <strong>Las personas de cualquier edad con las siguientes afecciones tienen mayor riesgo de enfermarse gravemente a causa de COVID-19:</strong>Cualquier persona corre riesgo de contraer COVID-19 si se ve expuesta al virus. Algunas personas tienen mayor probabilidad de enfermarse gravemente que otras, lo que significa que pueden necesitar hospitalización, 
                cuidados intensivos o asistencia mecánica que las ayude a respirar (respirador), e incluso algunas podrían morir. Todos los días aprendemos un poco más acerca del COVID-19 y, a medida que haya más información disponible, los CDC continuarán actualizando y compartiendo la información acerca de los factores de riesgo de enfermarse gravemente.
                <br/>

                COVID-19 es una nueva enfermedad. Por el momento, se dispone de datos e información limitada acerca del impacto de las afecciones subyacentes y acerca de si estas aumentan el riesgo de enfermarse gravemente a causa del COVID-19. De acuerdo con lo que se conoce hasta el momento, las personas con las siguientes afecciones podrían tener un mayor riesgo de enfermarse gravemente a causa del COVID-19:
                
                <br/>
                <br/>
                • Cáncer
                
                <br/>
                • Enfermedad renal crónica
                <br/>

                • EPOC (enfermedad pulmonar obstructiva crónica)
                
                <br/>

                • Personas inmunodeprimidas (sistema inmunitario debilitado) por trasplante de órganos sólidos

                <br/>
                • Obesidad (índice de masa corporal [IMC] de 30 o superior)
                
                <br/>
                • Afecciones cardiacas graves, tales como insuficiencia cardiaca, enfermedad de la arteria coronaria o miocardiopatías
                
                <br/>
                • Diabetes mellitus tipo 2

                <br/>
                • Asma (moderado a grave)

                <br/>
                • Enfermedad cerebrovascular (afecta los vasos sanguíneos y el suministro de sangre hacia el cerebro)

                <br/>
                • Fibrosis quística

                <br/>
                • Hipertensión o presión arterial alta

                <br/>
                • Personas inmunodeprimidas (sistema inmunitario debilitado) a causa de un trasplante de médula ósea, deficiencias inmunitarias, VIH, uso de corticoides, o del uso de otros medicamentos que debilitan el sistema inmunitario

                <br/>
                • Afecciones neurológicas, como la demencia

                <br/>
                <br/>
                
            </p>

        </div>

    </div>
</div>