<div>
    <h1>
        Noticias del Covid-19
    </h1>
    <br>
    <br>
    <br>
    <div class="container-fluid">

        <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Enfoque del paciente con cefalea en tiempos de covid-19</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bibliografia</h6>
              <a href="http://www.scielo.org.co/pdf/anco/v36s1/2422-4022-anco-36-s1-27.pdf" class="card-link">
              Ir a la bibliografia</a>
            </div>
          </div>

          <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Situación de COVID-19 en la Región de las Américas</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bibliografia</h6>
              <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7204709/" class="card-link">
                Ir a la bibliografia</a>
            </div>
          </div>

          <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">COVID-19 (Novel Coronavirus 2019) – recent trends</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bibliografia</h6>
              <a href="https://www.europeanreview.org/article/20378" class="card-link">
                Ir a la bibliografia</a>
            </div>
          </div>

          <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Una revisión exhaustiva de las características de COVID-19</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bibliografia</h6>
              <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7402395/" class="card-link">
                Ir a la bibliografia</a>
            </div>
          </div>

          <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Situación de COVID-19 en la Región de las Américas</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bibliografia</h6>
              <a href="https://www.paho.org/es/temas/coronavirus/brote-enfermedad-por-coronavirus-covid-19" class="card-link">
                Ir a la bibliografia</a>
            </div>
          </div>

          <div class="card float-left" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Articulo</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bibliografia</h6>
              <a href="http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S0121-08072020000200087&lng=es&nrm=iso" class="card-link">
                Ir a la bibliografia</a>
            </div>
          </div>

        </div>
</div>
